<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="968358953056-2h45jfa9pnc49t8oh5kbbc7cpnlngfnn.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="static/js/index.js"></script>
  </head>
  
  <body onload="onLoad()">
    <div class="center">
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

    <a href="#" onclick="signOut">Sign out</a>

    <h1>Project II GAE</h1>
    <p>Upload file below</p>

    <form action = "#" method = "post" enctype="multipart/form-data"> 
        <p>Email to send to</p>
        <input id="text-input" type="text" name="email" hidden />
        <input type="file" name="file" accept="image/*" hidden />  
        <input type = "submit" value="Upload" hidden />  
    </form>  
    </div>
  </body>
</html>
