<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="{{ sign_in_key }}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <script src="static/js/index.js"></script>
    <link rel="stylesheet" href="static/css/index.css">
  </head>
  
  <body>
  <div class="bgimg">
    <div 
        class="g-signin2" 
        data-onsuccess="onSignIn" 
        data-theme="dark"
        data-longtitle="true"
    ></div>

    <h1 id="project-title">text detector</h1>
    
    <p>Utilize Google App Engine to find text in your image.<br>Sign in with your google account before you upload your image.
    </p>

    <form onSubmit="return processForm(e)" id="califormication" action="#" method="post" enctype="multipart/form-data">
        <input value="" id="text-input" type="text" name="email" disabled required/>
        <input type="file" name="file" accept="image/*" disabled required/>  
        <input type = "submit" value="Upload" disabled />  
    </form>  
    <p> {{ message }} </p>
    </div>
  </body>
</html>
