<html lang="en">
  <head>
    <title>Project ii gae</title> 
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="{{ sign_in_key }}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/index.css">
  </head>
  
  <body>
  <div class="bgimg">
    <div 
        class="g-signin2" 
        data-onsuccess="onSignIn" 
        data-theme="dark"
        data-longtitle="true"
    ></div>

    <h1 id="project-title">text detector</h1>
    
    <p>
    Utilize Google App Engine to find text in your image.<br>
    Sign in with your google account before you upload your image. <br>
    Only images in JPEG or PNG format are allowed. <br>
    File must be at least 100B and no more than 2MB.
    </p>

    <form id="califormication" enctype="multipart/form-data">
        <input value="" id="text-input" type="text" name="email" maxlength="256" disabled required/>
        <input type="file" name="file" accept="image/*" disabled required/>  
        <input type = "submit" value="Upload" disabled />  
    </form>  
    <p> {{ message }} </p>
    </div>
  </body>
</html>
